.react-time-picker__inputGroup__input {
  min-width: 1rem;
  outline: none;
  font-size: 1rem;
  box-sizing: border-box;
  background-color: rgb(235, 235, 235);
  border-radius: 5px;
}

.react-time-picker__wrapper {
  display: flex;
  gap: 0.5rem;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
